<div id="authenticated-layout">
	<mat-toolbar color="primary" id="header-toolbar">
		<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span><h1 id="app-name">CT General Hospital</h1></span>  
  </mat-toolbar>
	
  <mat-sidenav-container id="authenticated-sidenav-container" [style.marginTop.px]="64">
		<mat-sidenav #snav mode="side" opened fixedInViewport="true" fixedTopGap="64" fixedBottomGap="64">
			<mat-nav-list *ngFor="let nav of navs">
        
				<a mat-list-item [routerLink]="nav.route" ><mat-icon aria-hidden="false" >{{nav.icon}}</mat-icon> &nbsp;&nbsp; {{nav.label}}</a>
      </mat-nav-list>
     
    </mat-sidenav>
		
    <mat-sidenav-content>
			<!-- <h1>Authenticated Layout Component</h1> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

	<mat-toolbar color="primary" id="footer-toolbar">
    <div>By IMPACT Team</div>
  </mat-toolbar>
</div>
