<div class="header">
  <h1>Patient Allergies</h1>
</div>
  <table class="table">
    <tr>
      <th class="th">Allergy Id</th>
      <th class="th">Allergy Name</th>
      <th class="th">Allergy Type</th>
      <th class="th">Allergy Source</th>
      <th class="th">ISO Forms</th>
      <th class="th">Allerginicity</th>
      <th></th>
    </tr>
    
    <tr *ngFor="let element of dataSource">
       <td class="td">{{element.allergyId}}</td>
       <td class="td">{{element.allergyName}}</td>
       <td class="td">{{element.alergyType}}</td>
       <td class="td">{{element.allergenSource}}</td>
       <td class="td">{{element.isoforms}}</td>
       <td class="td">{{element.allerginicity}}</td>
       <td class="td">Remove</td>
      </tr>
  </table>

<br>


  <div class="header">
    <h1>Add Allergies</h1>
  </div>

   <!---Language MaltiSelect manu -->
   <table style="padding-left: 42%; padding-right: 40%; text-align: center;">
     <tr>
   <td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <form [formGroup]="AllergyForm">
    <label for="name">Allergies</label>
    <ng-multiselect-dropdown
      [placeholder]="'select Allergies'"
      [settings]="dropdownSettings"
      [data]="dropdownList"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemDeSelect($event)"
      aria-required="Languages"
      >
    </ng-multiselect-dropdown> 
  </form>    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </td>
</tr>
  <tr>
    <td>
      <button mat-raised-button color="primary" (click)="submitAllergies()">Add Allergies</button>
  </td>
</tr>
</table>
