.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

 .td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.th{
  color: #ffffff;
  text-align: center;
  background: #2980b9
}

.header{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  color: #ffffff;
  text-align: center;
  background-color: #2980b9;
}

