<h1>Forgot Component</h1>

<form class="example-form"  #loginForm>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput required [(ngModel)]="username" name="username" required>
        </mat-form-field>
  </form>

<br />
<button mat-raised-button  color="primary">Submit</button>
<br/>
<br/>
<a [routerLink]="CONSTANT.routes.auth.login">Login</a>

<br />
<a [routerLink]="CONSTANT.routes.auth.register">Register</a>